@for (course of courses(); track course.id) {

  <div class="course-card">

    <div class="course-header">

      <span class="course-title">{{ course.title }}</span>

    </div>

    <img class="course-image" [src]="course.iconUrl">

    <div class="course-description">
      <p>{{ course.longDescription }}</p>
    </div>

    <div class="course-actions">

      <button class="btn" [routerLink]="['/courses', course.id]">
        VIEW COURSE
      </button>

      <button class="btn" (click)="editCourse(course)">
        EDIT
      </button>

      <img class="delete" src="/assets/icons/delete.svg" (click)="deleteCourse(course.id)">

    </div>

  </div>

}
