@import "../../styles/button";

@include buttonStyles();

.course-card {
  margin: 20px 10px;
  background: #1f172d;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000026;
}

.course-header {
  padding: 20px;
}

.course-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-description {
  padding: 10px;
}

.course-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.course-actions {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.course-actions button {
  margin-right: 5px;
}

.delete {
  max-height: 30px;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 3px;
  border: 1px solid #2086fc;
  background: #1f172d;
  cursor: pointer;

}
