@use "../../styles/button" as button;
@use "../../styles/forms" as forms;

@include button.buttonStyles();
@include forms.formStyles();

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  color: white;
  border: 1px solid #2086fc;
  border-radius: 10px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 100px;
}
