
@import "../../styles/table";

.course-container {
  max-width: 400px;
  margin: 0 auto;
}

.course-header {
  text-align: center;
}

.course-image {
  max-height: 200px;
}

.table-container {
  margin-top: 20px;
}
