@use "../../styles/button" as button;
@use "../../styles/forms" as forms;

@include button.buttonStyles();
@include forms.formStyles();

.demo-container {
  max-width: 400px;
  margin: 0 auto;
}

.loading {
  margin: 30px auto;
}

.course-header {
  text-align: center;
}

.course-image {
  max-height: 200px;
}

.table-container {
  margin-top: 20px;
}

.reload-btn {
  margin-top: 20px;
  margin-right: 10px;
}
.no-lessons {
  margin: 20px auto;
  text-align: center;
}
