


<div class="demo-container">

  <h1>resource() Demo</h1>

  @if(courses.isLoading()) {
    <mat-spinner class="loading"/>
  }
  @else {
    <div class="table-container">
      <table class="results-table">
        @for(course of courses.value(); track course.id) {
          <tr>
            <td>
              {{course.title}}
            </td>
          </tr>
        }
      </table>
    </div>

    <button class="btn reload-btn" (click)="reloadCourses()">
      Reload Courses
    </button>
  }


  <!--div class="course-header">

    @let course = course.value()

    <h2>{{ course?.title }}</h2>

    <img class="course-image" [src]="course()?.iconUrl">

  </div-->


</div>
