<loading/>

<div class="edit-course-form">

  <h3></h3>

  <div class="form-control">
    <label>Course title:</label>
    <input placeholder="Enter course title">
  </div>

  <div class="form-control">
    <label>Course description:</label>
    <textarea placeholder="Enter course description">
    </textarea>
  </div>

  <div class="form-control">
    <label>Course category:</label>
    <select>
      <option value="BEGINNER">Beginners</option>
      <option value="INTERMEDIATE">Intermediate</option>
      <option value="ADVANCED">Advanced</option>
    </select>
  </div>

  <div class="form-control">
    <label>Course image:</label>
    <input placeholder="Enter course title">
  </div>

  <div class="form-actions">

    <button class="btn">
      Save
    </button>

    <button class="btn">
      Cancel
    </button>

  </div>

</div>
