@import "../../styles/button";
@import "../../styles/forms";

@include buttonStyles();
@include formStyles();

.edit-course-form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  color: white;
}

