@use "../../styles/button" as button;
@use "../../styles/forms" as forms;

@include button.buttonStyles();
@include forms.formStyles();

.edit-course-form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  color: white;
}

