
.messages-container {
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.message {
  min-width: 350px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
}

.message.error {
  color: white;
  background-color: #fc00ba;
  border: 1px solid #50277c;
}

.message.info {
  color: white;
  background-color: #2176f7;
  border: 1px solid #50277c;
}

.message.warning {
  color: black;
  background-color: #fcec01;
  border: 1px solid #50277c;
}

.message.success {
  color: black;
  background-color: #4ad700;
  border: 1px solid #50277c;
}


.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  max-height: 20px;
}
