@use "../../styles/button" as button;
@use "../../styles/forms" as forms;

@include button.buttonStyles();
@include forms.formStyles();

.lessons {
  max-width: 400px;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
}

.search-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  margin-left: 10px;
}



