
.courses-panel {
  max-width: 400px;
  margin: 0 auto;
}


.add-course {
  background: #1f172d;
  color: white;
  padding: 10px 20px;
  border: 1px solid #2086fc;
  border-radius: 5px;
  cursor: pointer;
}
